.Header {
  width: 100%;
  height: fit-content;
  position: fixed;
  z-index: 5;
  box-sizing: border-box;
  background-color: #576cbc;
  padding: 0.5rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 80vw;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 1.5rem;
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  color: #0b2447;
  border: none;
}

.button:hover, .button:active {
    color: #A5D7E8;
    cursor: pointer;
}