.Logo {
  box-sizing: border-box;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
}

.icon {
}

.icon__camera {
  color: #0b2447;
  position: absolute;
  font-size: 3rem;
  top: -0.5rem;
  left: 1.5rem;
  transform: rotate(-10deg);
}

.icon__stars {
  color: #ffe194;
  z-index: 6;
  position: absolute;
}

.logoText {
  font-size: 1.5rem;
  padding-top: 0.2rem;
  margin-top: 2.5rem;
  color: #0b2447;
  border: solid;
  border-width: 3px;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top-color: #0b2447;
  font-weight: 600;
}

.icon__star1 {
  font-size: 2rem;
  top: 0.4rem;
  right: 0;
  transform: rotate(-30deg);
}

.icon__star2 {
  font-size: 1.6rem;
  top: -0.2rem;
  right: 1.5rem;
  transform: rotate(-40deg);
}

.icon__star3 {
  font-size: 1.2rem;
  top: -0.2rem;
  right: 3rem;
  transform: rotate(-50deg);
}
