.NotFound {
  height: 100vh;
  width: 100%;
  background-color: #0b2447;
  color: #A5D7E8;
  padding: 4rem;
  font-size: 2rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
